bootstrap/ @bo0tzz
talos/ @bo0tzz
kubernetes/flux/ @bo0tzz
kubernetes/apps/flux-system/ @bo0tzz
kubernetes/apps/infrastructure/ @bo0tzz
kubernetes/components/ @bo0tzz
.renovaterc.json5 @bo0tzz
**/*.sops.* @bo0tzz
