---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
spec:
  chartRef:
    kind: OCIRepository
    name: rook-ceph-cluster
  interval: 1h
  values:
    cephClusterSpec:
      cephConfig:
        global:
          bdev_enable_discard: "true"
          bdev_async_discard_threads: "1"
          osd_class_update_on_start: "false"
          device_failure_prediction_mode: local
      crashCollector:
        disable: false
      cleanupPolicy:
        wipeDevicesFromOtherClusters: true
      csi:
        readAffinity:
          enabled: true
      mgr:
        modules:
          - name: insights
            enabled: true
          - name: pg_autoscaler
            enabled: true
          - name: rook
            enabled: true
      resources:
        osd:
          requests:
            memory: 3Gi
          limits:
            memory: 3Gi
      storage:
        useAllNodes: false
        useAllDevices: false
        nodes:
          - name: "janky"
            devices:
              - name: "/dev/disk/by-id/wwn-0x55cd2e414ffe0f23"
              - name: "/dev/disk/by-id/wwn-0x55cd2e4150087cad"
              - name: "/dev/disk/by-id/wwn-0x55cd2e415008873f"
          - name: "surge"
            devices:
              - name: "/dev/disk/by-id/wwn-0x55cd2e414ffe0f78"
              - name: "/dev/disk/by-id/wwn-0x55cd2e41500887af"
              - name: "/dev/disk/by-id/wwn-0x55cd2e41500883fe"
          - name: "tiny"
            devices:
              - name: "/dev/disk/by-id/nvme-eui.e8238fa6bf530001001b444a467856b0"
                config:
                  crushDeviceClass: ssd
        config:
          osdsPerDevice: "1"
    cephBlockPools:
      - name: ssd-block
        spec:
          failureDomain: host
          deviceClass: ssd
          replicated:
            size: 3
        storageClass:
          enabled: true
          name: ssd-block
          isDefault: true
          reclaimPolicy: Delete
          allowVolumeExpansion: true
          volumeBindingMode: Immediate
          mountOptions:
            - discard
          parameters:
            imageFormat: "2"
            imageFeatures: layering,fast-diff,object-map,deep-flatten,exclusive-lock
            csi.storage.k8s.io/provisioner-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/provisioner-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/controller-expand-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/controller-expand-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/node-stage-secret-name: rook-csi-rbd-node
            csi.storage.k8s.io/node-stage-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/fstype: ext4
    cephBlockPoolsVolumeSnapshotClass:
      enabled: true
      name: csi-ceph-blockpool
      isDefault: false
      deletionPolicy: Delete
    cephFileSystems:
      - name: &cephFileSystemName ssd-fs
        spec:
          metadataPool:
            deviceClass: ssd
            replicated:
              size: 3
          dataPools:
            - failureDomain: host
              deviceClass: ssd
              replicated:
                size: 3
              name: data0
          metadataServer:
            activeCount: 1
            activeStandby: true
            priorityClassName: system-cluster-critical
            placement:
              topologySpreadConstraints:
                - maxSkew: 1
                  topologyKey: kubernetes.io/hostname
                  whenUnsatisfiable: DoNotSchedule
                  labelSelector:
                    matchLabels:
                      app.kubernetes.io/name: ceph-mds
                      app.kubernetes.io/part-of: *cephFileSystemName
            resources:
              requests:
                cpu: 100m
                memory: 1Gi
              limits:
                memory: 2Gi
        storageClass:
          enabled: true
          isDefault: false
          name: ssd-fs
          pool: data0
          reclaimPolicy: Delete
          allowVolumeExpansion: true
          volumeBindingMode: Immediate
          parameters:
            csi.storage.k8s.io/provisioner-secret-name: rook-csi-cephfs-provisioner
            csi.storage.k8s.io/provisioner-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/controller-expand-secret-name: rook-csi-cephfs-provisioner
            csi.storage.k8s.io/controller-expand-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/node-stage-secret-name: rook-csi-cephfs-node
            csi.storage.k8s.io/node-stage-secret-namespace: "{{ .Release.Namespace }}"
    cephFileSystemVolumeSnapshotClass:
      enabled: true
      name: csi-ceph-filesystem
      isDefault: false
      deletionPolicy: Delete
    cephObjectStores: []
